<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flix</title>
</head>
<body>
	<h1><%= pluralize(@movies.size,"Movie") %></h1>
	<%= link_to("Add new movie", new_movie_path) %>
	<ul>
		<%@movies.each do |movie|%>
			<article>		
				<strong>
					<header>
						<h2><%= link_to(movie.title, movie) %></h2>
						<%= image_for(movie)%>
					</header>
				</strong>
				<table>
					<tr>
						<th>Rating:</th>
						<td><%= movie.rating %></td>
					</tr>
					<tr>
						<th>Total Gross:</th>
						<td><%= format_total_gross(movie) %></td>
					</tr>
					<tr>
						<th>Description:</th>
						<td><%= truncate(movie.description, length: 40, separator: ' ') %></td>
					</tr>
					<tr>
						<th>Released on:</th>
						<td><%= movie.released_on %> (<%= time_ago_in_words(movie.released_on) %> ago)</td>
						<tr>
					<th>Cast:</th>
					<td><%= movie.cast %></td>
					</tr>
					<tr>
						<th>Duration:</th>
						<td><%= movie.duration %></td>
					</tr>
						</tr>
				</table>	
			</article>
		<% end %>
	</ul>
	<%= render 'footer'  %>
</body>
</html>