<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Individual Project description</title>
	</head>
	<body>
		<article>
			<header>
				<h2><%= @project.name %></h2>
			</header>
			<table>
				<tr>
					<th>description:</th>
					<td><%= @project.description %></td>
				</tr>
				<tr>
					<th>Target:</th>
					<td><%= number_to_currency(@project.target_pledge_amount) %></td>
				</tr>
				<tr>
					<th>Website</th>
					<td><%= @project.website %></td>
				</tr>
				<tr>
					<th>End Date</th>
					<td><%= @project.pledging_ends_on %> (<%= time_remaining(@project) %> remaining)</td>
				</tr>
			</table>
		</article>
		<%= link_to("All Projects", root_path) %>|
		<%= link_to("Edit", edit_project_path) %>
	</body>
</html>