<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Events</title>
</head>
	<body>

		<h1><%= pluralize(@events.size,"Event")%></h1>
		<%= link_to("Add New Event", new_event_path) %><hr>
		<% @events.each do |event| %>
			<article>
				<header>
					<%= image_for(event)  %>
					<h2><%= pluralize(event.capacity,"spot") %></h2>
					<h2><%= link_to(event.name, event) %></h2>
				</header>
				<p>
					<%= truncate(event.description, length: 35, separator: ''  ) %>
				</p>
				<table>
					<tr>
						<th>When:</th>
						<td><%= event.starts_at%></td>
					</tr>
					<tr>  
						<th>Where:</th>
						<td><%= event.location %></td>
					</tr>
					<tr>
						<th>Price:</th>
						<td><%= format_price(event) %></td>
					</tr>
				</table>
			</article>
		<% end %>
	</body>
</html> 