<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Events</title>
</head>
	<body>
		<article>
			<header>
				<h2><%= @event.name %></h2>
			</header>
			<p>
				<%= @event.description %>
			</p>
			<table>
				<tr>
					<th>When:</th>
					<td><%= @event.starts_at%></td>
				</tr>
				<tr>  
					<th>Where:</th>
					<td><%= @event.location %></td>
				</tr>
				<tr>
					<th>Price:</th>
					<td><%= format_price(@event) %></td>
				</tr>
			</table>
		</article>

		<!-- This is the same as the other one <a href="/events">All Events</a> -->
		<%= link_to "All events", events_path %>|
		<%= link_to "Edit", edit_event_path %>
	</body>
</html> 